{% extends 'website/base.html' %}
{% block information %}
{% block doctors %}
</main>
<footer class="text-body-secondary py-2">
  <div class="container">
    <p class="float-end mb-1">
    </p>
  </div>
</footer>


<main class="px-3">
  <section class="py-3 container">

    <h3>Клиника "MED FRENDLY" - ваш надежный партнер в заботе о здоровье!</h3>
    <p class="lead text-body-secondary">Многопрофильная клиника "MED FRENDLY" успешно работает с 2015 года. Мы предлагаем широкий спектр медицинских услуг по 40 направлениям! С нами Вы можете быть уверены, что ваше здоровье находится в надежных руках опытных экспертов.</p>
    <p class="lead text-body-secondary">Наша команда состоит из более 50 врачей, которые готовы помочь Вам справиться с любыми проблемами со здоровьем. Каждый специалист в нашей клинике обладает высокой квалификацией и постоянно повышает свои профессиональные навыки.</p>

    <h3>Так почему нас выбирают?</h3>
    <p class="lead text-body-secondary">Во-первых, мы нацелены на заботу о наших пациентах. Ваше здоровье и комфорт для нас на первом месте. Мы всегда готовы выслушать Ваши проблемы и вопросы, предложить индивидуальный подход и помочь Вам в поиске оптимального решения. Полное сопровождение пациента на всех этапах лечения, инновации, доступность и своевременность медицинской помощи - визитная карточка нашей клиники.</p>
    <p class="lead text-body-secondary">Во-вторых, мы предлагаем нашим пациентам лучшее, что может предоставить современная медицина сегодня. Клиника оснащена новейшими технологиями и инновационным оборудованием, изготовленным европейскими и американскими компаниями-производителями, которое позволяет нам проводить лечение на самом высоком уровне.</p>
    <p class="lead text-body-secondary">В-третьих, мы гарантируем превосходное качество обслуживания. Мы понимаем, что важно не только получить хорошее лечение, но и чувствовать себя комфортно во время посещения клиники. Наша дружелюбная и внимательная администрация всегда готова помочь Вам с организацией визита и ответить на все Ваши вопросы.</p>
    <p class="lead text-body-secondary">Мы гордимся тем, что делаем медицинскую помощь доступной для всех наших клиентов и предлагаем гибкую систему ценообразования, скидки и акции, чтобы каждый мог получить лечение по приемлемой цене. Ведь здоровье - это наш самый ценный актив, и мы считаем, что каждый человек имеет право на профессиональное медицинское обслуживание.</p>
    <p class="lead text-body-secondary">Если вы ищете клинику, где вас примут с пониманием и заботой, где Вам предложат инновационные методы лечения и гарантированный высокий уровень сервиса - Вы нашли именно то, что искали!</p>
    <p class="lead text-body-secondary">Записывайтесь на прием уже сегодня и оцените все преимущества нашей клиники "MED FRENDLY". Мы всегда рады помочь Вам!</p>

    <h3>Полное наименование:</h3>
    <p class="lead text-body-secondary">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "MED FRENDLY"</p>

    <h3>Место нахождения:</h3>
    <p class="lead text-body-secondary">г.Москва, б-р Сиреневый, дом 53</p>

    <h3>Почтовый адрес:</h3>
    <p class="lead text-body-secondary">105484, г.Москва, б-р Сиреневый, дом 53</p>

    <h3>Дата государственной регистрации:</h3>
    <p class="lead text-body-secondary">02.10.2015 г.</p>

    <h3>Учредитель:</h3>
    <p class="lead text-body-secondary">Беляцкая Виктория Александровна</p>

    <p class="lead">
    </p>
    <a class="btn btn-lg btn-light fw-bold border-white bg-white" href="{% url 'website:doctors_list' %}" role="button">Команда врачей</a>
</main>

  <div class="container marketing">
{% endblock doctors%}

{% endblock information %}