{% extends 'website/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for service in object_list %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">{{ service.name_services }}</p>
              <p class="card-text">{{ service.description }}</p>
              <p class="card-text">{{ service.price }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-lg btn-light fw-bold border-white bg-white" href="{% url 'website:patientcontacts_create' %}" role="button">Записаться</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}